.mainPageWrap {
  width: 768px;
  height: 100%;
  margin: 0 auto;
}

.header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px grey;
  border-top: none;
  height: 50px;
}

#signOutButton {
  padding: 8px;
  margin: 5px;
  margin-right: 15px;
  /* border: none; */
  cursor: pointer;
}

.user {
  margin-left: 15px;
}

.content {
  display: flex;
}
