* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conversation--listitem:last-child {
  border-bottom: 1px solid darkgrey;
}

.conversation--listitem {
  padding: 5px;
  border: 1px solid darkgrey;
  width: 200px;
  border-bottom: none;
}

.messages {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  overflow: auto;
  width: 100%;
  margin: 0 5px;
  height: calc(100vh - 55px);
  flex-direction: column;
}

.messageWrap {
  display: flex;
  margin-bottom: 5px;
}

.message {
  padding: 5px 15px;
  border: 1px solid lightgrey;
}

.myMessage {
  justify-content: flex-end;
}

.messageInput {
  justify-self: end;
  margin: 15px 0;
}

.app {
  display: flex;
}
