* {
  margin: 0;
  padding: 0;
}

.conversation--listitem {
  margin: 5px;
  padding: 5px;
  border: 1px solid brown;
  width: 200px;
}

.messages {
  width: 100%;
}

.message {
  margin: 5px;
  padding: 5px;
  border: 1px solid lightskyblue;
}

.messageinput {
  margin: 5px;
}

.app {
  display: flex;
}
